.screen {
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    width:100%;
    height:100%;

    transition-duration:450ms;
}

.button {
    background-color:rgb(118, 3, 250);
    color:white;
    width:55x;
    height:55px;
    box-shadow: 0 0 100px rgb(118, 3, 250);
    
    border: 2px solid rgb(255, 255, 255);
    border-radius:35px;
}

body {
    background-color:black;
    overflow:hidden; /* Hide Scrollbars */
}

.shrek {
    background-image:url("shrek.jpg");
    background-size:50px;
}

.reverseGlow {
    box-shadow: 0 0 40px black;
}